/* 

-------- TYPOGRAPHY -------- 
HTML FONT-SIZE: 
62.5% / 10px
FONT-SIZE:
1.6 rem -16PX / 2rem - 20PX / 4rem - 40PX /4.8rem - 48PX / 62PX - 6.2rem

FONT-WEIGHT:
300 / 400 / 800

LINE-HEIGHT:
1.2 / 1.6

LETTER-SPACING:
0 / -2PX

FONT-FAMILY:
POPPINS
Qwigley
 
-------- MARGIN & SPACING -------- 

MARGIN:
0.5rem - 5 / 1rem - 10 / 1.5rem 15 / 2 rem -20 /2.5 rem 25 /3rem 30 / 4rem 40 / 50 / 60 / 70 / 80 / 90 / 100 / 125 / 150 / 200 / 250 / 300 / 400 / 500px

-------- COLORS -------- 

Grey 100 : #F6F5EE
Grey 200 : #CFCFCF
Grey 500 : #ADADAD
Grey 600 : #504F4F
Grey 800 : #353535
Grey 900 : #090D12

White : #FFFFFF

Primary: #FDC347 
Yellow : #FFAC0D
Warning: #F17228

red : #f03e3e
Danger : #FF7474

*/

*{  margin: 0; padding: 0; box-sizing: border-box; }

html{ font-size: 62.5%;}

:root{
    --font-family-primary : 'poppins';
    --font-family-secondary : 'qwigley';

    --text-xs : 1.6rem;
    --text-sm : 2rem;
    --text-h3 : 4rem;
    --text-h2 : 4.8rem;
    --text-h1 : 6.2rem;

    --font-weight-normal : 300;
    --font-weight-bold : 400;
    --font-weight-bolder : 600;

    --line-height-normal : 1.2;
    --line-height-bigger : 1.6;

    --letter-spacing-tight : -1px;

     --grey-100: #F6F5EE;
    --grey-200: #CFCFCF;
    --grey-500: #ADADAD;
    --grey-600: #504F4F;
    --grey-800: #353535;
    --grey-900: #090D12;

    --white: #FFFFFF;

    --primary: #FDBE35;
    --yellow: #FFAC0D;
    --warning: #F17228;

    --red: #f03e3e;
    --danger: #FF7474;
    
}

body{ font-family: var(--font-family-primary); font-size: var(--text-sm); line-height: var(--line-height-bigger); letter-spacing: 0; font-weight: var(--font-weight-normal); color: var(--grey-900);}

h1,h2,h3{ font-weight: var(--font-weight-bolder); line-height: var(--line-height-normal); letter-spacing: var(--letter-spacing-tight); color: var(--grey-800);}

a,p{text-decoration: none; color: var(--grey-800); font-size: var(--text-xs); font-weight: var(--font-weight-bold); line-height: var(--line-height-bigger);}

ul{list-style-type: none;}

span{ font-weight: var(--font-weight-bolder); color: var(--grey-900); font-size: var(--text-xs);}

header{margin-bottom: 3rem;}

.icon-outlined {font-variation-settings: 'FILL' 0, 'wght' 400, 'opsz' 24;}

.icon-filled {font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;}

nav , .hero-section , .food-search-section , .deals-section,.popular-section{max-width: 1300px; width: 95%; margin: 0 auto;}

.btn{ display: flex; border: 1px solid black; padding: 0.8rem 1.5rem; border-radius: 10px; align-items: center; justify-content: center; gap: 2px;}

/* Header section */

nav{max-height: 100px; background-color: white;}

.logo{ width: 221px;}

.navbar{ list-style-type: none;display: flex; justify-content: space-between;align-items: center;padding: 1.5rem; }

.nav-right{ display: flex; gap: 15px; position: relative; justify-content: center; align-items: center;}

.search-label{ position: absolute; display: flex; gap: 5px; justify-content: center; align-items: center; font-weight: var(--font-weight-bolder);}

.search-label > .search-icon{color: var(--primary);}

.nav-right > div {width: 150px;}
.nav-right > div > input{ border: none; outline: none; font-size: var(--text-xs); width: 200px; text-align: center; font-weight: var(--font-weight-bolder); color: var(--grey-900) !important;}

.navbar-address{ display: flex; align-items: center; gap: 5px;}

.location-icon{ width: 25px; color: var(--primary);}

.login-btn{ color: var(--primary); border: 1px solid var(--primary);}
.login-btn > span {color: var(--primary);}

.hero{background-color: var(--primary); padding: 5rem 0;}

.hero-section{ display: flex; align-items: center; justify-content: space-between; gap: 75px;}

.hero-left{ flex-grow: 2;}

.food-served{ max-width: 500px; width: 100%;}

.hero-heading{font-family: var(--font-family-secondary); font-size:8.8rem; letter-spacing: 0; color: var(--white); font-weight: var(--font-weight-normal);}

.hero-heading + p {margin-bottom: 1.5rem; font-size: var(--text-sm);}

.hero-card{ max-width: 856px; width: 100%; background-color: var(--white); }

.hero-tabs{ display: flex; gap: 15px; margin-bottom: 2rem; padding: 1.5rem 2.5rem; padding-bottom: 0;}

.tab{font-weight: var(--font-weight-bolder); padding: 0.5rem 1rem; border-radius: 5px; display: flex; gap: 5px;}

.active{background-color: #f1722836;color: #F17228;}

.active > span{color: #F17228;}

.search-hero{display: flex;margin-bottom: 2rem;padding: 2.5rem; justify-content: center;gap: 5px;}

.search-hero > input{width: 100%; max-width: 500px; flex-grow: 1;border: none;outline: none;font-size: var(--text-xs); background-color: var(--grey-100); border-radius: 5px; padding: 0 0.5rem;}

.search-hero .btn{ flex-grow: 1; background-image: linear-gradient(45deg, #FF7A7A, #F65900); border: none; color: var(--white); gap: 5px;}

.search-hero .btn > .search-icon {color:var(--white)}
/* main section */
 main{ margin-bottom: 8rem;}

.food-section{ max-width: 1300px; width: 90%;  margin: 0 auto; margin-bottom: 8rem; }

.food-card-section{ display: flex; justify-content: center; gap: 10px;padding: 5rem; margin-bottom: 8rem;}

.food-card{max-width: 350px; width: 100%;}

.food-item-card{ display: flex; flex-direction: column; gap: 10px;}

.food-item-card p{width: 75%; font-weight: var(--font-weight-bolder); }

.feature{display: flex;flex-direction: column; align-items: center; gap: 5rem;justify-content: center;}

.feature > h1{background:linear-gradient(45deg, #FB3C00, #FFB800);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text; color: transparent; font-size: var(--text-h1); font-weight: var(--font-weight-bolder);}

.feature-section{display: grid; grid-template-columns: 2fr 1fr 2fr 1fr 2fr; justify-items: center; align-items: center; box-shadow: 0 0 20px 0 #f0925c; padding: 3rem; max-width: 1300px; width: 90%; margin: 0 auto;border-radius: 5px;margin-bottom: 2.5rem;}

.feature-card{ display: flex;align-items: center;justify-content: center; gap: 2rem;}

.feature-card > img { flex-grow: 2; max-width: 136px; width: 100%;}

.feature-card > p { width: 35%;background:linear-gradient(45deg, #FB3C00, #FFB800);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text; color: transparent; font-size: var(--text-sm); font-weight: var(--font-weight-bolder);}

.search-food { background-color: var(--grey-100);}

.food-search-section { padding: 5rem 0;}
.food-search-section > h3 { font-size: var(--text-h3); padding: 2.5rem 5rem}

.food-category-section{ display: flex;justify-content: center; gap: 1.5rem; padding: 5rem; margin-bottom: 5rem;}

.food-category{display: flex;justify-content: center; flex-direction: column; align-items: center; gap: 1.5rem;}

.food-category > img {max-width: 218px; width: 100%;}

.food-category > p{ font-size: var(--text-sm); font-weight: var(--font-weight-bolder);}

.deals-popular-section{ padding: 5rem;}

.deals-section{ display: flex;justify-content: center; gap: 2.5rem; align-items: center; padding: 5rem;margin-bottom: 5rem;}

.deals-left{display: flex; flex-direction: column; gap: 1.5rem; justify-content: center;}

.deals-left > h3{font-size: var(--text-h3);}

.deals-left > p{color: #616161;}

.deals-left > a{background-color: var(--yellow); color: var(--white); border: none; font-size: var(--text-sm);}
.deals-left > a > span{font-size: var(--text-xs);color: var(--white);}

.deals-left span{font-size: var(--text-h3); color: var(--primary);}
.deals-right{display: flex; flex-direction: column; }

.tiffen{ max-width: 921px; width: 100%;}

.popular-section{ display: flex;flex-direction: column; gap: 4rem;}

.popular-section > p , .popular-section > h1{text-align: center;}

.food-grid{display: grid; grid-template-columns: repeat(5,1fr); row-gap: 8rem; column-gap: 1rem;}

.food-grid  img{ max-width: 250px;width: 100%;}

.food-grid > div {display: flex; flex-direction: column; justify-content: center; gap: 1rem;}

.food-grid > div > p {text-align: center; font-size: var(--text-sm); font-weight: var(--font-weight-bolder);}

.food-grid > div > .btn {border: none; background-color: var(--yellow); color: var(--white); font-weight: var(--font-weight-bolder);}

footer{background-color: var(--grey-900); padding: 6rem;}

.footer-main{    margin: 0 2rem;
    padding: 0 5rem;}

.footer-section{display: flex; justify-content: center; padding: 5rem 0;}

.footer-menu{ flex-grow:3;}

.footer-newsletter{ flex-grow: 2;display: flex; flex-direction: column; gap: 2rem;}

.footer-newsletter > p{ color: var(--white);}
.footer-menu{display: flex; gap: 5rem;}

.footer-menu > div > p {color: var(--white); font-weight: var(--font-weight-bolder); font-size: var(--text-sm);}

.footer-menu > div > ul > li > a {color: var(--white);}

.media-icons{display: flex; gap:2rem}

.newsletter-section{display: flex; gap: 1rem; position: relative;}

.newsletter-section > p , .newsletter-section > p > span { display: flex; align-items: center; gap: 0.5rem; color:var(--white); font-size: var(--text-xs); font-weight: var(--font-weight-bold);}

.newsletter-section > p {position:absolute; top: 5px; left: 5px;}

.newsletter-section > input {border: none; outline: none; background-color: #424242; padding: 1rem; border-radius: 5px;}

.newsletter-section > a {background-color: var(--yellow); color: var(--white);}

.footer-author-section{ display: flex; justify-content: space-between;}

.footer-author-section > p , .footer-author-section > p > span  {color: var(--white); display: flex; gap: 0.5rem; }

.footer-author-section > p > span {color: var(--yellow); font-style: italic;}

/* 1334px = 83.4 * 16px */
@media(max-width:83.4rem){
   .search-hero > input{max-width:450px}
}

/* 81.25 * 16px = 1300 px */ 
@media(max-width:81.25rem){
    /* font-size : 9px (56.25 * 16 / 100) */
    html{font-size:56.25%;}
    .search-hero > input{max-width:430px}
}
/* 73.25 * 16px = 1172px */
@media(max-width:73.25rem){
    /* font-size : 8px (50 * 16 / 100) */
    html{font-size:50%;}
    .search-hero > input{max-width:380px}
}

/* 64.82 * 16px = 1037px */
@media(max-width:64.82rem){
    /* font-size : 7px (50 * 16 / 100) */
    html{font-size:43.75%;}
    .search-hero > input{max-width:350px}
}

/* 56.75 * 16px = 908px */
@media(max-width:56.75rem){
    /* font-size : 6px (50 * 16 / 100) */
    html{font-size:37.5%;}
    .search-hero > input{max-width:300px}
    .feature-section{padding: 5rem;}
    .tab > a{font-size: 25px !important;}
    .logo{width: 150px;}
    .hero-heading{font-size: 7.5rem;}
}

/* 48.67 * 16px = 778px */
@media(max-width:48.67rem){
    .food-grid{grid-template-columns: repeat(3,1fr);}
    .deals-section { flex-wrap: wrap; gap:5rem;}
    .feature-card > img{max-width: 100px;}
    .navbar-address {display: none;}
    .tab > span{display: none;}
}

/* 48.67 * 16px = 778px */
@media(max-width:36rem){
    html{font-size:35%;}
    .food-grid{grid-template-columns: repeat(2,1fr);}
    .deals-section { flex-wrap: wrap; gap:5rem;}
    .hero-section{flex-wrap: wrap;}
    .feature-card > img{max-width: 100px;}
    .food-served{max-width:350px}
    .hero-right{justify-content: center; align-items: center;}
    .navbar-address {display: none;}
    .tab > span{display: none;}
}

